body {
font-family: 'Alef', sans-serif;
max-width: 760px;
}

#container {
	width: 90%;
	margin: auto;
}

.title {
	background-color: red;
	border-radius: 20px;
	margin: 20px;
	text-align: center;
}
.buttons {
	text-align: left;
}
ul {
	list-style-type: none;
}

a {
	color: black;
	text-decoration: none;
}

li {
	padding: 15px;
  font-size: 20px;
  border:1px solid grey;
  border-radius: 20px;
}
img {
	margin-right: 50px;
}